<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} --- thread_id="%tid" thread_name="%tn" thread_priority="%tp" --- [%p] %m%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleJSONAppender" target="SYSTEM_OUT">
            <JsonLayout complete="false" compact="false">
            </JsonLayout>
        </Console>
    </Appenders>

    <Logger name="CONSOLE_JSON_APPENDER" level="TRACE" additivity="false">
        <AppenderRef ref="ConsoleJSONAppender"/>
    </Logger>
</Configuration>